/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}


/* imported font for form*/
.audiowide-regular {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}

/* imported font for logo */
@font-face {
  font-family: norse;
  src: url(Norse-Bold.otf) format("woff2");
}

.canvas {
  display: flex;
  line-height: 1.7;
}

.banner {
  background-image: url('./banner.png');
  width: 40%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.logo img{
  color: #D7D9CE;
  width: 15%;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 40%;
  background-color: rgba(17, 157, 164, 0.2);;
  font-family: norse;
  font-size: 5rem;
  color: #D7D9CE;
}

.form_area {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  background-color: #0D152A;
  width: 60%;
  height: 100vh;
}

.tagline {
  color: antiquewhite;
  font-size: 1.2rem;
  font-family: "Audiowide", sans-serif;
}

label {
  color: antiquewhite;
  font-size: 0.9rem;
  font-family: "Audiowide", sans-serif;
}

.name,
.mail_number,
.pass {
  display: flex;
  justify-content: space-around;
}

fieldset {
  background-color: #111D3B;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn {
  margin: 2rem;
  margin-left: 5.5rem;
}

button {
  background-color: #119DA4;
  border: none;
  padding: 0.4rem;
  border-radius: 8%;
  font-weight: 800;
  font-size: 0.9rem;
  font-family: "Audiowide", sans-serif;
}

.form_area div p {
  margin: 2rem;
  margin-left: 5.5rem;
  color: antiquewhite;
  font-size: 1.2rem;
  font-family: "Audiowide", sans-serif;
}

/* CSS form validation */

input{
  border: 3px solid #000;
  padding: 5px;
  border-radius: 5px;
}

input:invalid{
  border-color: red;
}

input:valid {
  border-color: green;
}

a {
  text-decoration: none;
}